html, body {
    padding: 0;
    margin: 0;
    position: relative;
}

body {
    background: url("../img/galaxy_starfield.png");
}

aside {
    position: absolute;
    left: 70px;
    top: 100px;
    width: 300px;
    z-index: 10000;
    border: 1px solid #ff6600;
    border-radius: 40px;
    background-color: #333333;
    text-align: center;
    padding: 30px 10px;
    box-sizing: border-box;
    pointer-events: auto;
}

aside h2 {
    color: #ff6600;
    width: 100%;
    text-align: center;
    font-weight: bold;
}

aside input {
    width: 100%;
    height: 40px;
    color: black;
    border-radius: 5px;
    border: 1px solid #ff6600;
    text-align: center;
}

aside button.btn {
    margin-top: 20px;
    width: 100%;
    border: 1px solid #ff6600;
}

#modal {
    position: absolute;
    top: 50px;
    left: 400px;
    width: 600px;
    /*border: 1px solid #ff6600;*/
    box-sizing: border-box;
}

#modal2 {
    position: absolute;
    top: 50px;
    left: 400px;
    width: 600px;
    /*border: 1px solid #ff6600;*/
    box-sizing: border-box;

}
#modal3 {
    position: absolute;
    top: 50px;
    left: 400px;
    width: 600px;
    /*border: 1px solid #ff6600;*/
    box-sizing: border-box;

}
.modal-body {
  height: 400px;
}

#language {
    position: absolute;
    top: 70px;
    right: 100px;
    width: 120px;
    height: 30px;
    display: inline-block;
}

#chartArea {
    height: 400px;
    width: 600px;
}

select {
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-indent: 4px;
    box-shadow: inset 0 0 3px #606060;
    border: 1px solid #acacac;
    border-radius: 6px;
    font-family: Arial, Calibri, Tahoma, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 500;
    box-sizing: border-box;
    color: #000099;
    cursor: pointer;
    outline: none;
}

select option {
    padding: 4px 10px 4px 10px;
    font-size: 14px;
    font-weight: normal;
}

select option[selected] {
    font-weight: bold
}

select:hover {
    font-weight: 700;
}

select:focus {
    box-shadow: inset 0 0 5px #000099;
    font-weight: 600;
}

#language::after {
    content: "\25bc";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 20px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #000099;
    color: #fefefe;
    border-radius: 0 6px 6px 0;
    pointer-events: none;
}

#pagination li a {
    cursor: pointer;
    color: black;
}

#pagination li a.now-button {
    background-color: #ff6600;
    color: #FFF;
    cursor: auto;
}

#pagination li a.unactive-button {
    background-color: #FFF;
    color: #AAA;
    cursor: auto;
}
