html, body {
    padding: 0;
    margin: 0;
    position: relative;
}

body {
    background: url("../img/galaxy_starfield.png");
}

aside {
    position: absolute;
    left: 90px;
    top: 100px;
    width: 300px;
    z-index: 10000;
    border: 1px solid #ff6600;
    border-radius: 10px;
    background-color: #333333;
    text-align: center;
    padding: 30px 10px;
    box-sizing: border-box;
    pointer-events: auto;
}

aside h2 {
    color: #ff6600;
    width: 100%;
    text-align: center;
    font-weight: bold;
    margin-bottom: 40px;
}

aside input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ff6600;
    text-align: center;
    background-color: #666;
    color: #fff;
}

::-moz-placeholder { color: #ccc; }
::-webkit-input-placeholder { color:#ccc; }
:-ms-input-placeholder { color:#ccc; }

aside button.btn {
    margin-top: 20px;
    width: 100%;
    border: 1px solid #ff6600;
    background-color: #000;
}

aside button.btn:hover {
    background-color: #666;
    color: #ff6600;
}

#modal, #modal2, #modal3{
    position: absolute;
    top: 50px;
    left: 100px;
    width: 600px;
    /*border: 1px solid #ff6600;*/
    /*box-sizing: border-box;*/
    height: 650px;
    overflow: scroll;
}

/*#modal2 {
    position: absolute;
    top: 50px;
    left: 400px;
    width: 600px;
    border: 1px solid #ff6600;
    box-sizing: border-box;

}
#modal3 {
    position: absolute;
    top: 50px;
    left: 400px;
    width: 600px;
    border: 1px solid #ff6600;
    box-sizing: border-box;

}*/
.modal .modal-body{
    height: 550px;
    overflow: scroll;
}
.modal2 .modal-body{
    height: 550px;
    overflow: scroll;
}
.modal3 .modal-body{
    height: 550px;
    overflow: scroll;
}

@media screen and (min-width: 400px) {
    
   #modal,#modal2,#modal3{
       width:100%;
       margin-left: 0px;
    }
    
    #chartArea {
    margin-left:0px;
    width: 100%;
   }
    .modal .modal-body {
        width:100%;
        margin-left: 0px;
    }
    .modal2 .modal-body{
        width: 100%;
        margin-left: 0px;
    }
      .modal3 .modal-body{
        width: 100%;
        margin-left: 0px;
    }
}

#language {
    position: absolute;
    top: 70px;
    right: 100px;
    width: 120px;
    height: 30px;
    display: inline-block;
}

#chartArea {
    height: 100%;
    width: 600px;
}

select {
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-indent: 4px;
    box-shadow: inset 0 0 3px #ff6600;
    border: 1px solid #acacac;
    border-radius: 6px;
    font-family: Arial, Calibri, Tahoma, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 500;
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    outline: none;
}

select option {
    padding: 4px 10px 4px 10px;
    font-size: 14px;
    font-weight: normal;
}

select option[selected] {
    font-weight: bold
}

select:hover {
    font-weight: 700;
}

select:focus {
    box-shadow: inset 0 0 5px #ff6600;
    font-weight: 600;
}

#language::after {
    content: "\25bc";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 20px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #666;
    color: #fefefe;
    border-radius: 0 6px 6px 0;
    pointer-events: none;
}

#pagination li a {
    cursor: pointer;
    color: black;
}

#pagination li a.now-button {
    background-color: #ff6600;
    color: #FFF;
    cursor: auto;
}

#pagination li a.unactive-button {
    background-color: #FFF;
    color: #AAA;
    cursor: auto;
}
